page-favourite {

}

.getbgimg {
    background-image: url('../../assets/imgs/h5.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.transbg {
    background-color: rgba(153, 0, 51, 0.8);
    color: white;
}

.transbtn {
  background-color: rgba(0,0,0,0);
}
